*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy' ;
}

html, body {
  height: 100%;
  width: 100%;
}


/* NAVBAR */
#logo{
  display:inline-block;
  
}
#logo img{
   margin-top:10px;
  height:100px;
  padding-left:40px;
}
.btn {
  
  margin:30px 10px;
  background-color: #00BFA6;
  padding: 14px 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #00BFA6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
 }
 
 .btn span:last-child {
  display: none;
 }
 
 .btn:hover {
  transition: .4s;
  border: 2px solid #00BFA6;
  background-color: #fff;
  color: #000000;
 }
 
 .btn:active {
  background-color: #87dbd0;
 }
 nav{
 width:100%;
  font-size: 20px;
  list-style: none;
  display: flex;
 
  justify-content: space-between;
 
}
nav #container{
  display: inline-block;
}






/* CONTENT */

#page{

  height:80vh;
  width:100%;
 position: relative;
padding:3vw 9vw;
  display: flex;
  justify-content: space-evenly;
}
.box{
  display: inline-block;
  height:100%;
  width:60%;
  background-color: rgb(255, 255, 255);
  
}
.content{
  padding:1vw 1vw;
  display: inline-block;
  height:80%;
  width:100%;
  background-color:  rgb(215, 247, 207);
  position:relative;
  z-index: -1;
  border:solid;
  border-radius:15px;
  line-height: 2vw;
  font-size: larger;
  
}
.content h1{
  margin-bottom: 2vw;
}






/* ANIMATIONS */

@keyframes slideInleft {
  from {
    transform:  translateX(-150px);

 }
  to{
    transform: translateX(0);
 }
}


#logo{
  animation: slideInleft 0.5s ease-in;
}
h1{
   
    font-weight:800;
   animation: slideInleft 1s ease-in;
}
p{
   
    font-weight:800;
   animation: slideInleft 1.1s ease-in;
}

@keyframes slideInright {
  from {
    transform:  translateX(300px);

 }
  to{
    transform: translateX(0);
 }
}

.btn{
  animation: slideInright 0.5s ease-in;
}


