*{
    margin:0;
    padding:0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Gilroy' ;
} 
  html, body {
    height: 100%;
    width: 100%;
  }
main{
    display:flex;
    justify-content: center;
}
#top{height:70px;
    text-align: center;
   
    
}

.btn {
    font-weight:lighter;
    margin:20px 10px;
    background-color: rgb(215, 247, 207);
    padding: 14px 40px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .btn span:last-child {
    display: none;
   }
   
   .btn:hover {
    transition: .4s;
    border: 2px solid rgb(0, 0, 0);
    background-color: #fff;
    color: #000000;
   }
   
   .btn:active {
    background-color: #87dbd0;
   }
.container{
    font-family: monospace;
    padding-top:20px;
    margin-top:30px;
    padding-bottom:12px;
    display:inline-block;
    height:650px;
    width:830px;
    border:solid;
    border-width:2px;  
    margin-bottom:30px; 
    border-radius: 29px;
background: #fafafa;
box-shadow:  18px 18px 36px #a5a5a5,
             -18px -18px 36px #ffffff;
}
#nav image{
    display: inline-block;
}
 img{
    margin-left:140px;
    position: relative;
   bottom: 5px;
    height:50px;
}
#nav{
    display: block;
    height:50px;
    margin-bottom:5px;
}
#head{
    margin-bottom:5px;
    position:relative;
    bottom:60px;
    display:inline-block;
    display:flex;
    justify-content: center;
    
}
#head p{
    position: relative;
   
}
#content{
    padding:20px 10px 10px 20px;
    margin: 10px 10px 10px 10px; 
    display:block;
    height:560px;
    border-radius:  29px;
    background-color: rgb(215, 247, 207);
}
#content p{
    font-size: larger;
    }
input[type=text]{
    font-size:15px;
    padding: 8px 10px;
    margin: 4px 0;
        width:700px;
        height:30px;
        border-radius:5px;
        border-style:solid;
    }
input[type=date]{
    text-align:center;
    font-size: medium;
        width:200px;
        height:30px;
        border-radius:5px;
        border-style:solid;
    }
input[type=tel]{
    padding: 8px 10px;
    margin: 4px 0;
    font-size:15px;
        width:700px;
        height:30px;
        border-radius:5px;
        border-style:solid;
    }
    #indianStates{
        text-align:center;
        font-size: medium;
            width:200px;
            height:30px;
            border-radius:5px;
            border-style:solid;
    }
    button {
        font-weight: bolder;
        font-size: 16px;
        position: relative;
        margin: auto;
        padding: 1em 2.5em 1em 2.5em;
        border: none;
        background: #fff;
        transition: all 0.1s linear;
        box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
       }
       
       button:active {
        transform: scale(0.95);
       }
       
       button span {
        color: #464646;
       }
       
       button .border {
        position: absolute;
        border: 0.15em solid #ffffff;
        transition: all 0.3s 0.08s linear;
        top: 50%;
        left: 50%;
        width: 7em;
        height: 30px;
        transform: translate(-50%, -50%);
       }
       
       button:hover .border {
        display: block;
        width: 9.3em;
        height: 3.7em;
       }
       
       .full-rounded {
        border-radius: 2em;
       }
       #up{
        margin:0px 0px 20px 1100px;
        
        color:black;
        height:40px;
        width:40px;
        display:inline-block;
        border:none;
        border:solid;
        border-radius:50%;
        background-color:white;
        text-align:center;
        font-weight:bolder;
        font-size:15px;
      }
      #up:hover{
        background-color:rgb(198, 252, 203);
       }
       #up span{
        text-align:center;
        font-weight:bolder;
        font-size:30px;
       }
      

       @keyframes slideIntop {
        from {
          transform:  translateY(-80px);
      
       }
        to{
          transform: translateY(0);
       }
    }
nav{
    animation: slideIntop 0.5s ease-in;
}